<ion-header lines="none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="innerpageheading">Supplies</ion-title>
    <ion-button slot="end" fill="clear" routerLink="/cart">
      <img class="tabicon_active" src="assets/images/tab_icon2_active.png" alt="cart" style="height: 28px;"/>
      <span *ngIf="incart != 0" class="cartqnty">{{incart}}</span>
    </ion-button>
  </ion-toolbar>  
</ion-header>

<ion-content>
  <div class="commercials_panel">
    <div class="bluelogo"><img src="assets/images/blue_logo.png" alt="blue_logo" /></div>
    <h4>C4U-CLEAN4U</h4>
  </div>

  <div class="supplies_box">
    <h3>Clean Supplies</h3>

    <div class="supplies_box_panel" *ngFor="let item of allproductList" (click)="goDetails(item.product_id)">
      <div class="supplies_box_panel_imgbox">
        <img [src]="item.image != '' ? item.image : 'assets/images/noimage.png'" alt="Product" />
        <div class="oos" *ngIf="item.in_stock == 0">Out Of Stock</div>
      </div>
      <h5>{{item.name | slice:0:31}} ...</h5>
      <ion-button>View Details</ion-button>      
    </div>

    <p *ngIf="allproductList.length == paginatorNo" style="text-align: center; margin: 30px 0 0 0; color: #bbbbbb; font-weight: bold;">[ Sorry! No More Products.]</p>
  </div>

  <ion-infinite-scroll *ngIf="allproductList.length != paginatorNo" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>