ion-back-button{
    color:black;
}

.treningbox {
    padding: 10px 0;
    background: linear-gradient( 174deg, #dde1e2, #ffffff);
    box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
    border-radius: 20px;
    margin: 15px 0;
    h3{
        padding: 0;
    margin: 0;
    color: #666666;
    font-size: 13px;
    font-weight: 600;
    font-family: "Ubuntu", sans-serif;
    position: relative
    }
}
.treningbox:last-child {
    border-bottom: 0;
}