ion-back-button{
    color:black;
}

.innerpageheading {
    color: #111111;
    font-weight: 500;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

ion-slides {
    height: 100%;
  }

  .cartcount{
    overflow: hidden; 
    margin: 30px 0; 
    border-radius: 30px; 
    display: inline-flex;  
    width: 100%; 
    background: #ffffff;
	box-shadow: 3px 3px 6px 0 #8d9da5, -3px -3px 6px 0 #ffffff;
}

.cartqnty{
    background: #ff5e0f;
    color: #fff;
    padding: 0;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 30px;
    text-align: center;
    font-size: 10px;
    padding-left: 2px;
    position: absolute;
    right: 0;
    top: 0;
}