<ion-header lines="none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="innerpageheading">Training</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="commercials_panel">
    <div class="bluelogo"><img src="assets/images/blue_logo.png" alt="blue_logo" /></div>
    <h4>C4U-CLEAN4U</h4>
  </div>

  <div class="training_tab">
    <ul>
      <li routerLink="/traning" routerDirection="root">PDF</li>
      <li routerLink="/traning1" class="active" routerDirection="root">Videos</li>
      <li routerLink="/traning2" routerDirection="root">Podcasting</li>
    </ul>

    <div *ngFor="let item of videoData">
      <div class="video_panel_list" (click)="playVideo(item.file)">
        <div class="video_panel_list_l"><img [src]="item.image" alt="Vedio" /></div>
        <div class="video_panel_list_r">
          <h3>{{item.title}}</h3>
          <h6>{{item.description}}</h6>
          <span><img src="assets/images/duration_icon.png" alt="duration_icon" /> Duration: {{item.duration}}</span>
        </div>
      </div>
    </div>

  </div>

</ion-content>