ion-back-button{
    color:black;
}
.textbox_panel {
    background: linear-gradient(174deg, #dde1e2, #ffffff);
    box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
}

.textbox_panel_text ion-select {
    padding: 0 6px;
}

.checkareabox {
    margin-top: 30px;
    p{
        font-size: 14px;
        margin: 0 0 15px 0;
        color: #999999;
    }
    span {
        color: #222222;
        font-size: 15px;
        font-weight: 400;
        font-family: "Ubuntu", sans-serif;
        text-transform: capitalize;
        display: inline-block;
        vertical-align: top;
        padding: 1px 15px 0 7px;        
    }
}

.treningbox {
    padding: 0;
    --background: none;
    background: linear-gradient( 174deg, #dde1e2, #ffffff);
    box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
    border-radius: 20px;
    margin: 15px 0;
    border: 1px #ffffff solid;
    h3{
        padding: 10px 0;
        margin: 0;
        color: #000000;
        font-size: 14px;
        font-weight: 500;
        font-family: "Ubuntu", sans-serif;
        position: relative;
        line-height: 18px;
        span{
            font-weight: bold;
            color: #31aee3;
            font-size: 16px;
        }
        small{
            color:#666666;
            display: block;
        }
    }
}
.treningbox.item-radio-checked{
    background: #fdfdfd;
    border: 1px #2cace2 solid;
}
.btnrmv{
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 99;
    background: #f0f5f7;
    color: #ffa500;
    padding: 8px;
    border-radius: 30px;
}

.pop{
    background: rgba(0, 0, 0, 0.9); position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 99; padding: 30px; display: table;
    .pop_in{
        display: table-cell; vertical-align: middle;
        .btnrmv{
            background-color: #e7eef1;
            color: #171718;
            font-size: 20px;
            top: 15px;
            right: 15px;
        }
        .pop_box{
            position: relative; margin: 0 auto; width: 100%; height: 100%; overflow: auto; max-width: 320px; background: #e7eef1; padding: 15px 30px; border-radius: 20px;
            h2{font-weight: bold;}
            p{color: #666666; font-size: 15px;}            
        }
    }
}