<ion-header lines="none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="innerpageheading">Billing Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="commercials_panel">
    <div class="bluelogo"><img src="assets/images/blue_logo.png" alt="blue_logo" /></div>
    <h4>C4U-CLEAN4U</h4>
  </div>
  <div class="addcustomer_panel">
    <ion-list style="background: none; padding: 0 7px;" *ngIf="alladdress != null">
      <p style="color: #000000; font-size: 14px; margin: 10px 0; text-align: center;">Use Previous Address:</p>
      <ion-radio-group (ionChange)="useAddress()" [(ngModel)]="preAdd"> 
        <div *ngFor="let item of alladdress" style="position: relative;">
          <ion-item lines="none" class="treningbox">
            <h3>{{item.firstname}} {{item.lastname}}<br />{{item.phone_no}}
              <small>{{item.email}}</small>
              <small>{{item.street_address_line1}}</small>
              <small>{{item.street_address_line2}}</small>
              <small>{{item.state}}</small>
              <small>{{item.city}}</small>
              <small>{{item.pincode}}</small>
            </h3>
            <ion-radio color="success" slot="end" [value]="item" style="opacity: 0;"></ion-radio>
          </ion-item>
          <ion-icon class="btnrmv" (click)="onRemove(item.address_id)" slot="icon-only" name="trash"></ion-icon>
        </div>           
      </ion-radio-group>
    </ion-list>

    <div style="text-align: center;">      
      <ion-button *ngIf="preAdd != ''" class="buykit_next" shape="round" style="width: 100%; margin-bottom: 10px; margin-top: 20px;" (click)="onNext()">Next</ion-button>      
      <ion-button fill="clear" size="small" color="primary" (click)="onNew()">+ Add New Address</ion-button>
    </div>
  </div>
</ion-content>

<div class="pop" *ngIf="newAdd">  
  <div class="pop_in">
    <ion-icon class="btnrmv" (click)="onNew()" slot="icon-only" name="close" *ngIf="alladdress != null"></ion-icon>
    <div class="pop_box">      
      <p style="color: red; font-size: 12px; margin: 10px 0 0;"><i style="font-size: 14px;">*</i> Below all fields are
        mandatory.</p>

      <div class="textbox_panel">
        <div class="textbox_panel_img"><img src="assets/images/name_icon.png" alt="name_icon" /></div>
        <div class="textbox_panel_text">
          <ion-input placeholder="First Name" type="text" [(ngModel)]="fname" (keyup.enter)="onKeyboard(Field1)">
          </ion-input>
        </div>
      </div>

      <div class="textbox_panel">
        <div class="textbox_panel_img"><img src="assets/images/name_icon.png" alt="name_icon" /></div>
        <div class="textbox_panel_text">
          <ion-input placeholder="Last Name" type="text" [(ngModel)]="lname" (keyup.enter)="onKeyboard(Field2)" #Field1>
          </ion-input>
        </div>
      </div>

      <div class="textbox_panel">
        <div class="textbox_panel_img"><img src="assets/images/phone_icon.png" alt="phone_icon" /></div>
        <div class="textbox_panel_text">
          <ion-input placeholder="Phone Number" type="tel" maxlength="15" [(ngModel)]="phone"
            (keyup.enter)="onKeyboard(Field3)" #Field2></ion-input>
        </div>
      </div>

      <div class="textbox_panel">
        <div class="textbox_panel_img"><img src="assets/images/email_icon.png" alt="email_icon" /></div>
        <div class="textbox_panel_text">
          <ion-input placeholder="Email" type="email" [(ngModel)]="email" (keyup.enter)="onKeyboard(Field4)" #Field3>
          </ion-input>
        </div>
      </div>

      <div class="textbox_panel">
        <div class="textbox_panel_img"><img src="assets/images/address_icon.png" alt="address_icon" /></div>
        <div class="textbox_panel_text">
          <ion-input placeholder="Address" type="text" [(ngModel)]="address" (keyup.enter)="onKeyboard(Field5)" #Field4>
          </ion-input>
        </div>
      </div>

      <div class="textbox_panel">
        <div class="textbox_panel_img"><img src="assets/images/address_icon.png" alt="address_icon" /></div>
        <div class="textbox_panel_text">
          <ion-input placeholder="Address 1" type="text" [(ngModel)]="address1" (keyup.enter)="onKeyboard(Field6)"
            #Field5>
          </ion-input>
        </div>
      </div>

      <div class="textbox_panel">
        <div class="textbox_panel_img"><img src="assets/images/address_icon.png" alt="address_icon" /></div>
        <div class="textbox_panel_text">
          <ion-select placeholder="Select State" [interfaceOptions]="statePopoverOptions" [(ngModel)]="state"
            (ionChange)="onStatechange()">
            <ion-select-option *ngFor="let item of stateList" [value]="item.state_code">{{item.state}}
            </ion-select-option>
          </ion-select>
        </div>
      </div>

      <div class="textbox_panel">
        <div class="textbox_panel_img"><img src="assets/images/address_icon.png" alt="address_icon" /></div>
        <div class="textbox_panel_text">
          <ion-select placeholder="Select City" [interfaceOptions]="cityPopoverOptions" [(ngModel)]="city">
            <ion-select-option *ngFor="let item of cityList" [value]="item.city_id">{{item.city}}</ion-select-option>
          </ion-select>
        </div>
      </div>

      <div class="textbox_panel">
        <div class="textbox_panel_img"><img src="assets/images/address_icon.png" alt="address_icon" /></div>
        <div class="textbox_panel_text">
          <ion-input placeholder="Pin Code" type="text" [(ngModel)]="pincode" (keyup.enter)="onKeyboard()" #Field6>
          </ion-input>
        </div>
      </div>
      <div style="text-align: center;">
        <ion-button class="buykit_next" style="margin: 35px 0 15px 0; width: 100%;" shape="round" (click)="onSaveContinue()">Save & Continue</ion-button>
      </div>
    </div>
  </div>
</div>