ion-back-button{
    color:black;
}

.footer{
    background: linear-gradient(135deg, #194dd5, #16b4dc);
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}

.training_tab, .video_panel_list{
	width: 100%;
	float: left;
}
.video_panel_list_l {
    padding: 7px;
    height: 80px;
}
.video_panel_list_r {
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    width: 100%;
}
.cart_update{
    float: left; 
    background: linear-gradient(174deg, #dde1e2, #ffffff);
box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
     border-radius: 15px; margin: 8px 0; width: 80px; display: inline-flex; height: 28px;
}
.cart_remove{
    font-size: 10px; color: red; float: left; margin: 8px 0; margin-left: 10px; height: 28px;
    background: linear-gradient(174deg, #dde1e2, #ffffff);
box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
     border-radius: 15px; padding: 0 7px; text-transform: capitalize; letter-spacing: 0;
}
.video_panel_list_r h3 {
    margin: 3px 0 5px 0px;
    min-height: 30px;
    color: #6d6d6d;
}

.subarea{background: #eeeeee; padding: 10px 15px;
    h4{
        border: none;
        color: #677579;
        margin: 10px 0;
        font-size: 16px;
    }
    b{ color: #000c10; font-size: 16px; font-weight: bold; float: right; }
}