<ion-header lines="none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="innerpageheading">My Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p *ngIf="!nofound" style="padding: 50px 30px;text-align: center;font-weight: bold; color: #9cb2bb; font-size: 18px;">
    [ Sorry! Cart is Empty. ]
  </p>
  <div *ngIf="nofound" class="training_tab">
    <div class="video_panel_list" *ngFor="let item of cartdetails">
      <div class="video_panel_list_l">
        <img [src]="item.image != '' ? item.image : 'assets/images/noimage.png'" alt="Product" />
      </div>
      <div class="video_panel_list_r">
        <h3>{{item.product_name}}</h3>
        <strong style="display: block; margin: 10px 0 5px 0; font-size: 14px;">$ {{item.product_price}}</strong>
        <div class="cart_update" *ngIf="item.type == 'individual'">
          <ion-button fill="clear" color="primary" (click)="lessCart(item.product_id, item.quantity)"
            style="height: 30px; width: 30px; font-size: 14px; margin: 0; text-align: center;">-</ion-button>
          <ion-input
            style="height: 30px; width: 20px; --padding-end: 0; --padding-start: 0; text-align: center; font-size: 12px; font-weight: bold;"
            readonly [value]="item.quantity"></ion-input>
          <ion-button fill="clear" (click)="addCart(item.product_id, item.quantity, item.in_stock)"
            style="height: 30px; width: 30px; font-size: 14px; margin: 0; text-align: center;">
            +</ion-button>
        </div>
        <ion-button fill="clear" class="cart_remove" (click)="removeItem(item.product_id)">x Remove</ion-button>
      </div>
    </div>
    <div
      style="border-radius: 20px; margin-top: 30px; box-shadow: 4px 5px 6px 0 #90999c, -4px -5px 6px 0 #ffffff; overflow: hidden; background: #ffffff; float: left; width: 100%;">
      <div
        style="background: linear-gradient(135deg, #194dd5, #16b4dc); color: #ffffff; font-weight: bold; text-align: center; font-weight: 700; font-family: 'Ubuntu', sans-serif; padding: 15px 10px;">
        Order Summary
      </div>
      <div class="subarea">
        <h4>Sub Total <b>$ {{cartsummary.subtotal}}</b></h4>
        <!-- <h4>Shipping Charge <b>$ {{cartsummary.shipping}}</b></h4> -->
        <h4>Tax <b>$ {{cartsummary.tax}}</b></h4>
      </div>
      <div
        style="background: #000c10; color: #ffffff; font-weight: bold; font-weight: 700; font-family: 'Ubuntu', sans-serif; padding: 10px 15px;">
        <h4 style="color: #dcef28; font-size: 16px; line-height: 30px; border: none; margin: 0;">Total
          <b style="color: #dcef28; font-weight: bold; font-size: 20px; line-height: 30px; float: right;">$
            {{cartsummary.total}}</b>
        </h4>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer *ngIf="nofound" routerLink="/billingaddress" class="footer">Checkout</ion-footer>