<ion-header lines="none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="innerpageheading">Training</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="commercials_panel">
    <div class="bluelogo"><img src="assets/images/blue_logo.png" alt="blue_logo" /></div>
    <h4>C4U-CLEAN4U</h4>
  </div>

  <div class="training_tab">
    <ul>
      <li routerLink="/traning" routerDirection="root">PDF</li>
      <li routerLink="/traning1" routerDirection="root">Videos</li>
      <li routerLink="/traning2" class="active" routerDirection="root">Podcasting</li>
    </ul>

    <div class="porcusting_panel">
      <div style="float: left; width: 100%; padding: 0 10px;">
        <div class="porcusting_panel_l">
          <span>Song Title</span>
        </div>
        <div class="porcusting_panel_mid">
          <span>Popularity</span>
        </div>
        <div class="porcusting_panel_r">
          <span>Duration</span>
        </div>
      </div>
      <div style="float: left; width: 100%;">
        <div *ngFor="let item of audioData">
          <div class="porcusting_panel_box" (click)="playAudio(item.file, item.id, item.title, i)">
            <div class="porcusting_panel_l">
              <b># {{item.id}}</b>
              <h3>{{item.title | slice:0:10}}.. <i>{{item.description | slice:0:20}}..</i></h3>
            </div>
            <div class="porcusting_panel_mid">
              <div class="procusting_bar">
                <div class="procusting_bar_inner" style="background: #3bb2e4; width: 50%;"></div>
              </div>
            </div>
            <div class="porcusting_panel_r">
              <b>{{item.duration}}</b>
            </div>
            <div class="clr"></div>
          </div>
        </div>
      </div>

      <div class="play_box" style="text-align: center; float: left; width: 100%;" *ngIf="track != ''">
        <div class="play_box_l" style="text-align: left;">
          <h4>{{trackTitle | slice:0:15}}..</h4>
          <h2># {{trackID}}</h2>
        </div>
        <div class="play_box_r" style="text-align: left;">
          <audio controls [src]="track" autoplay controlsList="nodownload"
            style="width: 100%; height: 50px; outline: none; float: left;"></audio>
          <!-- <img class="palyarrow_l" src="assets/images/white_arrow_leftt.png" alt="white_arrow_leftt" /> -->
          <!-- <img class="palybtn_mid" src="assets/images/paly_btn.png" alt="paly_btn" (click)="onplay(audio)" /> -->
          <!-- <img class="palyarrow_r" *ngIf="sound" src="assets/images/white_arrow_right.png" (click)="onplay(audio)" alt="white_arrow_right" /> -->
        </div>
        <div class="clr"></div>
      </div>
    </div>
  </div>
</ion-content>