<ion-content>
  <div class="thankyoupanel">
     <img src="assets/images/green_right.png" alt="green_right"/>   
     <h5>Payment has been done successfully.</h5>
     <div style="text-align: center;">
      <ion-button class="buykit_next" shape="round" (click)="onContinue()">Continue</ion-button>
    </div>
  </div>
</ion-content>
