<ion-content>
    <div class="login">
        <h2>Sign In</h2>
        <div class="textbox_panel">
            <div class="textbox_panel_img"><img src="assets/images/email_icon.png" alt="email_icon" /></div>
            <div class="textbox_panel_text">
                <ion-input placeholder="Email" type="email" [(ngModel)]="email" (keyup.enter)="onKeyboard(Field1)"></ion-input>
            </div>
        </div>
        <div class="textbox_panel">
            <div class="textbox_panel_img"><img src="assets/images/password_icon.png" alt="email_icon" /></div>
            <div class="textbox_panel_text">
                <ion-input placeholder="Password" type="password" [(ngModel)]="password" (keyup.enter)="onKeyboard()" #Field1></ion-input>
            </div>
        </div>
        <span class="forgotpassword"  routerLink="/forgotpass" style="text-decoration: underline; outline: none;">Forgot Your Password?</span>
        <div class="clr"></div>
        <div class="loginbutton_panel">
            <ion-button class="signinbtn" (click)="onSignin()">Sign In</ion-button>
        </div>
        <div class="or">or</div>
        <div class="social_btn" (click)="onFBLogin()">
            <img src="assets/images/facebook_icon.png" alt="facebook_icon" />
            Sign In with Facebook
        </div>
        <span class="createaccounttext">New user? <a routerLink="/signup" style="text-decoration: underline;">Create an account</a></span>
    </div>
</ion-content>