.light-theme{
    .home_content h2 {
        color: #0a1c27;
    }
    .home_content {
        background: #e7eef1;
    }
    ion-header {
        background: #e7eef1;
    }
    ion-toolbar{
        background: #e7eef1;
        --background: #e7eef1;
    }
    ion-content{
        background: #e7eef1;
        --background: #e7eef1;
    }
    ion-tabs.bottom_tab {
        background: #e7eef1;
    }
    ion-tabs.bottom_tab ion-tab-bar {
        background: #e7eef1;
    }
    .homebox {
        background: linear-gradient(135deg, #dde1e2, #ffffff);
        box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
    }
    .bottom_tab ion-tab-button {
        background: linear-gradient(135deg, #dde1e2, #ffffff);
        box-shadow: 2px 2px 4px 0 #b0b9bd, -2px -2px 4px 0 #ffffff;
    }
}