ion-back-button{
    color:black;
}
.pop{
    background: rgba(0, 0, 0, 0.9); position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 99; padding: 30px; display: table;
    .pop_in{
        display: table-cell; vertical-align: middle;
        .pop_box{
            margin: 0 auto; width: 100%; max-width: 270px; background: #16aadb; padding: 30px; border-radius: 12px;
            h2{
                font-weight: bold;
                font-size: 20px;
                text-align: center;
                margin: 0 0 20px 0;
                color: #fff;
                border-bottom: 1px #ffffff solid;
                padding-bottom: 20px;
            }
        }
    }
}
.capture_areabox ion-item {
    border-radius: 30px;
    height: auto;
    --background: #00212f;
    margin: 5px 0;
    --color: #ffffff !important;
    box-shadow: 3px 3px 6px 0 #205971, -3px -3px 6px 0 #b6eaff;
}
.buykit_next_smal {
    --background: #0098ff;
    --box-shadow: 3px 3px 6px 0 #002b35, -3px -3px 6px 0 #aae9fd, -8px -8px 16px 0 #0067a7 inset, 8px 8px 16px 0 #19d6f3 inset;
    border-radius: 50px;
    min-width: 109px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Ubuntu", sans-serif;
    color: #dff6ff;
    margin: 0 0;
    text-transform: capitalize;
}
.buykit2_radiopanel ion-textarea {
    background: linear-gradient(174deg, #dde1e2, #ffffff);
    box-shadow: 3px 3px 6px 0 #205971, -3px -3px 6px 0 #b6eaff; border-radius: 20px;
}

.capture_area .entercouponbuykit2 ion-input {
    background: #ffffff;
    box-shadow: 3px 3px 6px 0 #02080a, -3px -3px 6px 0 #67acc7;
}
.entercouponbuykit2 ion-item {
    --background: none;
    box-shadow: none;
    color: #ffffff;
    border: 1px #cccccc solid;
    border-radius: 30px;
}


ion-select{
	width: 100%;
	height: 38px;
	background: linear-gradient( 174deg, #dde1e2, #ffffff);
    box-shadow: 3px 3px 6px 0 #115977, -3px -3px 6px 0 #c1e0ec;
	border-radius: 30px;
    color: #213b4b;
    font-size: 12px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    --placeholder-color: #213b4b;
}