<ion-header style="--background: #18a8e2 !important; background: #18a8e2 !important;" lines="none">
  <ion-toolbar style="--background: #18a8e2 !important; background: #18a8e2 !important;">
    <ion-buttons slot="start" style="position: absolute;">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <div style="text-align: center;"><img style="height: 60px;" src="assets/images/white_logo.png" alt="white_logo" />
      <h4 class="headertext">C4U Lead Generation</h4>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background:#18a8e2; height: 100px;">    
    <div class="home_content">
      <h2>Calculators</h2>
      <div class="homebox" routerLink="/commercial"><img src="assets/images/cal_image1.png" alt="icon" />
        <h4>Commercial</h4>
      </div>
      <div class="homebox" routerLink="/residential"><img src="assets/images/cal_image2.png" alt="homebox_icon6" />
        <h4>Residential</h4>
      </div>
      <div class="homebox" routerLink="/specialbid"><img src="assets/images/cal_image3.png" alt="homebox_icon5" />
        <h4>Special Bid</h4>
      </div>
      <div class="homebox" routerLink="/example"><img src="assets/images/homebox_icon6.png" alt="homebox_icon6" />
        <h4>Example</h4>
      </div>
    </div>
  </div>  
</ion-content>
<!-- <ion-content style="--background:#18a8e2 !important;">
  <div class="home_content" style="background: #e7eef1;">
    <h2>Calculators</h2>
    <div class="calculators">
      <div class="calculators_1" routerLink="/commercial"><img src="assets/images/cal_image1.png" alt="cal_image1" /></div>
      <div class="calculators_2" routerLink="/residential"><img src="assets/images/cal_image2.png" alt="cal_image2" /></div>
      <div class="calculators_3" routerLink="/specialbid"><img src="assets/images/cal_image3.png" alt="cal_image3" /></div>
      <div class="calculators_4" routerLink="/example"><img src="assets/images/cal_image4.png" alt="cal_image4" /></div>
      <div class="calculators_5"><img src="assets/images/cal_image5.png" alt="cal_image5" /></div>

    </div>
  </div>
</ion-content> -->

<ion-footer>
  <ion-toolbar>
    <ion-tabs class="bottom_tab">
      <ion-tab-bar slot="top">
        <ion-tab-button tab="schedule" routerLink="/home">
          <img class="tabicon" src="assets/images/tab_icon1.png" alt="tab_icon1" />
          <img class="tabicon_active" src="assets/images/tab_icon1_active.png" alt="tab_icon1" />
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="speakers" routerLink="/buykits">
          <img class="tabicon" src="assets/images/tab_icon2.png" alt="tab_icon1" />
          <img class="tabicon_active" src="assets/images/tab_icon2_active.png" alt="tab_icon1" />
          <ion-label>Buy Kits</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="map" routerLink="/settings">
          <img class="tabicon" src="assets/images/tab_icon3.png" alt="tab_icon1" />
          <img class="tabicon_active" src="assets/images/tab_icon3_active.png" alt="tab_icon1" />
          <ion-label>Settings</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="about" routerLink="/myprofile">
          <img class="tabicon" src="assets/images/tab_icon4.png" alt="tab_icon1" />
          <img class="tabicon_active" src="assets/images/tab_icon4_active.png" alt="tab_icon1" />
          <ion-label>Profile</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>