<ion-content lines="none">
  <div class="innerscreen_bg">
      <div class="inner_logo"><img src="assets/images/inner_logo.png" alt="inner_logo"/></div>
      <div class="welcomebox" (click)="onFree()" >
        <img src="assets/images/welcome_people_icon1.png" alt="welcome_people_icon1"/>
        <h3>Continue as a <br> Free User</h3>
      </div>
      <div class="welcomebox" (click)="onPlan()">
        <img src="assets/images/welcome_people_icon2.png" alt="welcome_people_icon2"/>
        <h3>Continue with <br> a Plan</h3>
      </div>
  </div>
</ion-content>

