<ion-header lines="none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="innerpageheading">Payment for Plan</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <div class="total_top">
      <ion-grid>
        <ion-row>
          <ion-col size="9">Total Payable Amount</ion-col>
          <ion-col size="3" class="total_top_right">${{totalpay}}</ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="payment">

    <div class="paumyentnode">
      <ion-radio-group [(ngModel)]="payType">
        <ion-item lines="none">
          <img src="assets/images/stripe.png" alt="payment" />
          <ion-radio color="primary" slot="end" value="stripe"></ion-radio>
        </ion-item>

        <ion-item lines="none">
          <img src="assets/images/paypal.png" alt="payment" />
          <ion-radio color="primary" slot="end" value="paypal"></ion-radio>
        </ion-item>

        <ion-item lines="none" *ngIf="!isShow">
          <img src="assets/images/gpay.png" alt="payment" />
          <ion-radio color="primary" slot="end" value="gpay"></ion-radio>
        </ion-item>

        <ion-item lines="none" *ngIf="isShow">
          <img src="assets/images/applepay.png" alt="payment" />
          <ion-radio color="primary" slot="end" value="applepay"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </div>

    <div *ngIf="payType == 'stripe'">
      <div class="additembox">
        <ion-label>Cardholder Name</ion-label>
        <ion-input placeholder="Please Enter Cardholder Name" type="text" [(ngModel)]="cardholdername"></ion-input>
      </div>
      <div class="additembox">
        <ion-label>Card Number</ion-label>
        <ion-input placeholder="**** **** **** 1234" type="tel" [(ngModel)]="cardnumber"></ion-input>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col size="7" style="padding-top: 0; padding-left: 0;">
            <div class="additembox">
              <ion-label>Expiry Date</ion-label>
              <ion-datetime placeholder="mm/yy" displayFormat="MM / YY"
                [(ngModel)]="expirydate"></ion-datetime>
            </div>
          </ion-col>
          <ion-col size="5" style="padding-top: 0; padding-right: 0;">
            <div class="additembox">
              <ion-label>CVV</ion-label>
              <ion-input placeholder="***" type="password" [(ngModel)]="cvv"></ion-input>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div style="text-align: center;" *ngIf="payType != ''">
      <ion-button class="paymentpay_btn" shape="round" (click)="onPay()">Pay Now</ion-button>
    </div>

  </div>
</ion-content>