<ion-header style="--background: #18a8e2 !important; background: #18a8e2 !important;" class="ion-no-border">
  <ion-toolbar style="--background: #18a8e2 !important; background: #18a8e2 !important;">
    <div style="text-align: center;"><img style="height: 60px;" src="assets/images/white_logo.png" alt="white_logo" />
      <h4 class="headertext">C4U Lead Generation</h4>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #e7eef1;">
  <div style="background:#18a8e2;">
    <div class="home_content">
      <h2>Cleaning Business <br> Starter Kit</h2>
      <div class="cartbox_product" *ngFor="let item of allproductList">

        <h5 style="margin: 0 0 15px 0; color: #5f95ad; font-family: 'Ubuntu', sans-serif;"><strong>{{item.name}}</strong></h5>

        <div class="cartbox_product_img">
          <img [src]="item.image != '' ? item.image : 'assets/images/noimage.png'" alt="Product" />
        </div>
        <!-- <div class="cartcount">
          <ion-button fill="clear" (click)="lessQnty()"
            style="height: 40px; width: 25%; font-size: 22px; margin: 0; line-height: 38px; text-align: center; background: #eee;">
            -</ion-button>
          <div
            style="width: 50%; line-height: 36px; text-align: center; font-size: 14px; font-weight: bold; padding: 0 15px;">
            {{prodQnty}}</div>
          <ion-button fill="clear" (click)="addQnty()"
            style="height: 40px; width: 25%; font-size: 22px; margin: 0; line-height: 38px; text-align: center; background: #eee;">
            +</ion-button>
        </div> -->

        <span>Price: <u style="text-decoration: line-through; font-size: 16px; color: #bbbbbb; margin: 0 5px">${{item.mrp}}</u> <b>${{item.price}}</b></span>
        <p>Product Type: <b>Combo</b></p>
        <p><b>Combo Products:</b></p>
        <ul>
          <li *ngFor="let pro of item.sub_product">{{pro.name}}</li>
        </ul>
        <div style="text-align: center;">
          <ion-button class="cartcheckout_btn" (click)="onAddtocart(item.product_id)">Buy Now</ion-button>
        </div>
      </div>
      <p *ngIf="allproductList.length == paginatorNo" style="text-align: center; margin: 30px 0 0 0; color: #bbbbbb; font-weight: bold;">[ Sorry! No More Products.]</p>
    </div>    
  </div>  
  <ion-infinite-scroll  *ngIf="allproductList.length != paginatorNo" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>    
  </ion-infinite-scroll>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-tabs class="bottom_tab">
      <ion-tab-bar slot="top">
        <ion-tab-button routerLink="/home" routerDirection="root">
          <img class="tabicon" src="assets/images/tab_icon1.png" alt="tab_icon1" />
          <img class="tabicon_active" src="assets/images/tab_icon1_active.png" alt="tab_icon1" />
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button class="active" routerLink="/buykits" routerDirection="root">
          <img class="tabicon" src="assets/images/tab_icon2.png" alt="tab_icon1" />
          <img class="tabicon_active" src="assets/images/tab_icon2_active.png" alt="tab_icon1" />
          <ion-label>Buy Kits</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/settings" routerDirection="root">
          <img class="tabicon" src="assets/images/tab_icon3.png" alt="tab_icon1" />
          <img class="tabicon_active" src="assets/images/tab_icon3_active.png" alt="tab_icon1" />
          <ion-label>Settings</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/myprofile" routerDirection="root">
          <img class="tabicon" src="assets/images/tab_icon4.png" alt="tab_icon1" />
          <img class="tabicon_active" src="assets/images/tab_icon4_active.png" alt="tab_icon1" />
          <ion-label>Profile</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>