ion-back-button{
    color:black;
}
.cartcount{
    overflow: hidden; 
    margin: 30px 0; 
    border-radius: 30px; 
    display: inline-flex;  
    width: 100%; 
    height: 40px; 
    background: #ffffff;
	box-shadow: 3px 3px 6px 0 #8d9da5, -3px -3px 6px 0 #ffffff;
}
.cartbox_product_img {
	border-radius: 30px;
	box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff, 6px 6px 30px 0 #dde1e2 inset;
}
.cartbox_product {
    width: 100%;
    margin: 0 auto;
    box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff, 1px 1px 10px 0 #dde1e2 inset;
    padding: 20px 15px;
    max-width: 300px;
    border-radius: 40px;
    background: #ffffff;
    margin-bottom: 25px;
    p{
        color: #666666;
        font-size: 14px;
        margin:0 0 8px 0;
        text-align: left;
        b{
            color: #000000;
        }
    }
    ul{
        margin: 0;
        padding: 0;
        padding-left: 20px;
        li{
            color: #666666;
            font-size: 14px;
            text-align: left;
            margin: 10px 0;
        }
    }
}