ion-back-button{
    color:#ffffff;
}
.innerpageheading{
    color:#ffffff;
}
.profile_img_box {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 29px auto 0 auto;
    padding: 10px;
    position: relative;
}
.invoice_box_r h3 {
    padding: 0;
    margin: 0;
    color: #575757;
    font-size: 16px;
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
}
.invoice_box_r h6 {
    color: #666666;
}
.invoice_box {
    padding: 15px;
    padding-left: 85px;
}
.editcustomer{
    position: absolute;
    top: 15px;
    right: 10px;
    background: linear-gradient(174deg, #dde1e2, #ffffff);
    border-radius: 50px;
    height: 45px;
    width: 45px;
    box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
}
.buykit_next {
    min-width: 135px;
    margin: 38px 5px;
}
.addcouistomer_panel_box{
    background: #f0faff;
    box-shadow: 3px 3px 6px 0 #828688, -3px -3px 6px 0 #ffffff, -8px -8px 16px 0 #91b4c5 inset, 8px 8px 16px 0 #e6f6ff inset;
    color: #3bb2e4;
    border: none;
}
.subarea{background: #eeeeee; padding: 10px 15px;
    h4{
    border: none;
    color: #000000;
    padding: 5px 0;
    }
    b{ color: #000000; font-size: 16px; font-weight: bold; }
}
.buykit_next {
    margin-bottom: 0;
}
.entercouponbtn {
    --background: none;
    background: #0098ff;
    box-shadow: 3px 3px 6px 0 #002b35, -3px -3px 6px 0 #aae9fd, -8px -8px 16px 0 #0067a7 inset, 8px 8px 16px 0 #19d6f3 inset;
    width: 100%;
}
.applydiscount{
    background: linear-gradient(174deg, #dde1e2, #ffffff);
    box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
    padding: 15px; border-radius: 20px; margin: 20px 0;
    ion-input{
        background: #ffffff;
        box-shadow: 3px 3px 6px 0 #7e888c, -3px -3px 6px 0 #e1f8ff;
        border-radius: 30px;
        padding: 0 15px !important;
    }
    p{
        margin: 0 0 10px 0;
        text-align: center;
        border-bottom: 1px #d0d0d0 solid;
        padding-bottom: 10px;
        font-weight: bold;
        color: #000c10;
        font-size: 14px;
    }
}
.itemholder {
    h4{/* padding-left: 35px; position: relative; */
        .smlbtn{
            color: #dcef28;
            padding: 3px 12px 4px 12px;
            background: #000c10;
            border-radius: 20px;
            margin-right: 5px;
        }
        span{ position: absolute; left: 0; width: 30px; top: 10px; 
            .optbtn{
                background: #000c10;
                border-radius: 6px;
                padding: 0;
                font-weight: bold;
                text-align: center;
                width: 25px;
                height: 25px;
                line-height: 30px;
                margin: 3px 0;
                font-size: 14px;
                color: #dcef28;
                z-index: 9;
                img{filter: brightness(300%);}
            }
            .optbody{
                background: #000c10;
                border-radius: 6px;
                padding: 5px 8px;
                font-weight: bold;
                width: 80px;
                font-size: 12px;
                color: #dcef28;
                position: relative;
                z-index: 99;
                p{margin: 0; padding: 7px 0;}
            }
        }        
    }
}