<ion-header lines="none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="innerpageheading">My Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="commercials_panel">
    <div class="bluelogo"><img src="assets/images/blue_logo.png" alt="blue_logo" /></div>
    <h4>C4U-CLEAN4U</h4>
  </div>

  <div class="training_tab">
    <ul>
      <li [class]="productsActive == true ? 'active' : ''" (click)="onTab('order')">Products</li>
      <li [class]="leadsActive == true ? 'active' : ''" (click)="onTab('leads')">Leads</li>
      <li [class]="plansActive == true ? 'active' : ''" (click)="onTab('subscription')">Plans</li>
    </ul>

    <div *ngIf="orderData == null" style="text-align: center; margin: 50px 0; color: #999999; font-weight: bold;">[
      Sorry! Nothing Found. ]
    </div>

    <div *ngIf="productsActive == true">      
      <ion-list style="background: none; padding: 0 10px;">
        <ion-item class="treningbox" lines="none" *ngFor="let item of orderData">
          <h3>
            #{{item.orderid}}<br/>
            <small>{{item.order_status}}</small><br/>
            <small>Status:</small> <b style="color: #f15307;"> {{item.payment_status}}</b>
          </h3>
          <h3 slot="end"><span>$ {{item.amount}}</span></h3>
        </ion-item>
      </ion-list>
    </div>
    <div *ngIf="leadsActive == true">
      <ion-list style="background: none; padding: 0 10px;">
        <ion-item class="treningbox" lines="none" *ngFor="let item of orderData">
          <h3>
            #{{item.request_id}}<br/>
            <small>Time Slot:</small> {{item.time_appointment}}<br/>
            <small>Status:</small> <b style="color: #f15307;"> {{item.payment_status}}</b>
          </h3>
          <h3 slot="end"><span>$ {{item.total}}</span></h3>
        </ion-item>
      </ion-list>
    </div>
    <div *ngIf="plansActive == true">
      <ion-list style="background: none; padding: 0 10px;">
        <ion-item class="treningbox" lines="none" *ngFor="let item of orderData">
          <h3>
            <small>Plan Type:</small> {{item.plan_name}}<br/>
            <small>Expire Date:</small> {{item.end_date}}
          </h3>
          <h3 slot="end"><span>$ {{item.amount}}</span></h3>
        </ion-item>
      </ion-list>
    </div>

  </div>
</ion-content>