ion-back-button{
    color:black;
}

.treningbox {
    padding: 10px 0;
    --background: none;
    background: linear-gradient( 174deg, #dde1e2, #ffffff);
    box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
    border-radius: 20px;
    margin: 15px 0;
    h3{
        padding: 0;
        margin: 0;
        color: #000000;
        font-size: 14px;
        font-weight: 500;
        font-family: "Ubuntu", sans-serif;
        position: relative;
        line-height: 18px;
        span{
            font-weight: bold;
            color: #31aee3;
            font-size: 16px;
        }
        small{
            color:#666666;
        }
    }
}