/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-header {
	background: #e7eef1;
}
ion-toolbar{
	background: #e7eef1;
	--background: #e7eef1;
}
ion-content{
	background: #e7eef1;
	--background: #e7eef1;
}

.header-md::after {
	background-image: none !important;
	display: none;
}

.login {
	background: url(../src/assets/images/signinbg.jpg) no-repeat 0 0;
	width: 100%;
	background-size: 100%;
	padding: 130px 52px 0 52px;
	min-height: 100%;
	background-attachment: fixed;
}

.login h2 {
	padding: 0;
	margin: 0;
	color: #fff;
	text-align: center;
	font-weight: 400;
	font-size: 35px;
	font-family: 'Ubuntu', sans-serif;
}

.textbox_panel {
	background: #fff;
	border-radius: 50px;
	width: 100%;
	height: 44px;
	margin: 22px auto 0 auto;	
	box-shadow: 3px 3px 6px 0 #075067, -3px -3px 6px 0 #a2d1e2;
}

.textbox_panel_img {
	margin: 5px 0 0 15px;
	border-right: #d6e5ff solid 1px;
	width: 12%;
	float: left;
	padding: 5px 0;
	img{
		filter: contrast(0.5);
	}
}

.textbox_panel_text {
	width: 79%;
	float: left;
	padding: 0 10px;
	height: 44px;
}

.textbox_panel_text ion-input, .textbox_panel_text ion-select  {
	height: 44px;
	color: #213b4b;
	font-size: 12px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	--placeholder-color: #213b4b;
}

.forgotpassword {
	float: right;
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	padding: 10px 0;
}

.clr {
	clear: both;
}

.signinbtn {	
	--border-radius: 50px;
	border-radius: 50px;
	width: 100%;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Ubuntu', sans-serif;
	height: 44px;
	text-transform: capitalize;
	//box-shadow: 7px 6px 14px 0 #036882, -5px -6px 10px 0 #16b4dc;
	/* --background: linear-gradient(135deg, #194dd5, #16b4dc);
	box-shadow: 3px 3px 6px 0 #075067, -3px -3px 6px 0 #a2d1e2, -8px -8px 16px 0 rgb(144 163 169) inset; */
	--background: #0098ff;
	--box-shadow: 3px 3px 6px 0 #002b35, -3px -3px 6px 0 #aae9fd, -8px -8px 16px 0 #0067a7 inset, 8px 8px 16px 0 #19d6f3 inset;
}

.or {
	background: #ffffff;
	box-shadow: 3px 3px 6px 0 #075067, -3px -3px 6px 0 #a2d1e2;
	width: 43px;
	height: 43px;
	border-radius: 50%;
	text-align: center;
	color: #16dbec;
	font-size: 15px;
	font-weight: 400;
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	margin: 14px auto;
	padding: 12px 0 0 0;
}

.social_btn {
	background: #fff;
	border-radius: 50px;
	width: 100%;
	height: 44px;
	margin: 10px auto 0 auto;
	box-shadow: 3px 3px 6px 0 #075067, -3px -3px 6px 0 #a2d1e2;
	text-align: center;
	color: #696e74;
	font-size: 14px;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
	padding: 9px 0 0 0;
}

.social_btn img {
	display: inline-block;
	padding: 0 10px 0 0;
	vertical-align: middle;
}

.createaccounttext {
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	padding: 10px 0;
	display: block;
	text-align: center;
}

.createaccounttext a {
	color: #fff;
	text-decoration: none;
}

.createaccounttext ion-checkbox {
	margin: 0;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}

.accept_conditions {
	padding: 10px 0 0 0;
}

ion-toolbar {
	--border-width: 0 !important;
}

ion-header {
	padding: 12px 0;
}

.innerscreen_bg {
	background: url(../src/assets/images/welcome_bg.jpg) no-repeat 0 0;
	width: 100%;
	background-size: cover;
	padding: 0 0 50px 0;
	background-attachment: fixed;
	min-height: 100%;
}

.inner_logo {
	text-align: center;
	padding: 0 0 40px 0;
}

.welcomebox {
	width: 70%;
	height: 204px;
	border-radius: 40px;
	text-align: center;
	margin: 0 auto 28px auto;
	background: #ffffff;
	box-shadow: 3px 3px 6px 0 #075067, -3px -3px 6px 0 #a2d1e2;
	padding: 25px 0 0 0;
	img{
		height: 90px;
		box-shadow: 0px 5px 7px 0 #394448;
		border-radius: 50%;
	}
}

ion-back-button {
	color: #fff;
}

.welcomebox h3 {
	padding: 5px 0 0 0;
	margin: 0;
	color: #0a1c27;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Ubuntu', sans-serif;
}

.innerpageheading {
	color: #111111;
	font-weight: 500;
	font-family: 'Ubuntu', sans-serif;
	font-size: 22px;
	padding: 0;
	margin: 0;
}

.planbox1 {
	background: -moz-linear-gradient(left, #50c4ee 0%, #17a5da 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #50c4ee 0%, #17a5da 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #50c4ee 0%, #17a5da 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50c4ee', endColorstr='#17a5da', GradientType=1);
	/* IE6-9 */
	padding: 30px 20px;
	border-radius: 30px;
	width: 80%;
	margin: 10px auto 20px auto;
	box-shadow: 3px 3px 6px 0 #002b35, -3px -3px 6px 0 #fdfdfd, 8px 8px 16px 0 #18a1d4  inset;
	text-align: left;
	position: relative;
	overflow: hidden;
}

.planbox1 h3 {
	padding: 0 0 15px 0;
	margin: 0;
	color: #fff;
	font-size: 24px;
	font-weight: 500;
	font-family: 'Ubuntu', sans-serif;
}

.planbox1 h3 b {
	float: right;
	color: #ffffff;
	font-size: 29px;
	font-weight: 700;
	font-family: 'Ubuntu', sans-serif;
	margin-top: -10px;
}

.planbox1 p {
	padding: 0 0 12px 0;
	margin: 0;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Ubuntu', sans-serif;
	ul{
		left: 0;
		padding-left: 2px;
		margin: 0;
		font-size: 10px;
		li{
			display: inline;
			margin-right: 5px;
			border-right: 1px #ffffff solid;
			padding-right: 5px;
			padding-bottom: 1px;
			line-height: 16px;
		}
		li:last-child{
			margin-right: 0;
			border-right: none;
			padding-right: 0;
		}
	}
}

.planbox1img {
	float: right;
}

.planbox1:nth-child(even) {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1989d4+0,0662a0+100 */
	background: #1989d4;
	/* Old browsers */
	background: -moz-linear-gradient(left, #1989d4 0%, #0662a0 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #1989d4 0%, #0662a0 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #1989d4 0%, #0662a0 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1989d4', endColorstr='#0662a0', GradientType=1);
	/* IE6-9 */
	padding: 30px 20px;
	border-radius: 30px;
	width: 80%;
	margin: 10px auto 20px auto;
	box-shadow: 3px 3px 6px 0 #002b35, -3px -3px 6px 0 #aae9fd, 8px 8px 16px 0 #015d9a inset;
}

.headertext {
	padding: 0;
	margin: 0;
	color: #ffffff;
	font-size: 17px;
	font-weight: 400;
	font-family: 'Ubuntu', sans-serif;
}

.home_content {
	background: #e7eef1;
	border-radius: 30px 30px 0 0;
	padding: 25px 20px;
	text-align: center;
	padding-bottom: 15px;
}

.homebox {
	text-align: center;
	border-radius: 20px;
	width: 132px;
	height: 145px;
	display: inline-block;
	vertical-align: top;
	margin: 10px 4%;
	position: relative;
	overflow: hidden;
	outline: none;
	background: linear-gradient(135deg, #dde1e2, #ffffff);
	box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
}

.homebox img {
	padding: 35px 0 0 0;
	height: 90px;
}

.homebox h4 {
	color: #0a1c27;
	font-weight: 400;
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	margin: 15px 0;
}

.mememberonly {
	background: #15a5d9;
	width: 110px;
	height: 70px;
	position: absolute;
	top: -28px;
	right: -44px;
	transform: rotate(45deg);
}

.mememberonly span {
	color: #fff;
	font-weight: 400;
	font-size: 8px;
	font-family: "Ubuntu", sans-serif;
	position: absolute;
	bottom: 7px;
	/* text-align: center; */
	display: block;
	left: 35px;
	text-transform: uppercase;
}

ion-tabs.bottom_tab {
	padding: 0 20px 5px 20px;
	height: 90px;
	position: relative !important;
	background: #e7eef1;
}

ion-tabs.bottom_tab ion-tab-bar {
	height: 80px;
	border: 0;
	background: #e7eef1;
}

.bottom_tab ion-tab-button {
	padding: 0;
	border-radius: 15px;
	height: 63px;
	margin: 0 5px;
	background: linear-gradient(135deg, #dde1e2, #ffffff);
	box-shadow: 2px 2px 4px 0 #b0b9bd, -2px -2px 4px 0 #ffffff;
}

.bottom_tab ion-tab-button.active img.tabicon_active {
	display: block;
}

.bottom_tab ion-tab-button ion-label{
	color: #404447;
	font-weight: 500;
	font-family: "Ubuntu", sans-serif;
	font-size: 11px;
}

.bottom_tab ion-tab-button.active {
	color: #15a5d9;
}

.bottom_tab ion-tab-button.active img.tabicon {
	display: none;
	margin: 5px 0;
}

.bottom_tab ion-tab-button img.tabicon_active {
	display: none;
	margin: 5px 0;
}

.bottom_tab ion-tab-button img.tabicon {
	display: block;
	margin: 5px 0;
}

.overlaystaterkit {
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}

.overlaystaterkit_text {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #fff;
	padding: 67px 0 76px;
	text-align: center;
	-webkit-border-top-left-radius: 40px;
	-webkit-border-top-right-radius: 40px;
	-moz-border-radius-topleft: 40px;
	-moz-border-radius-topright: 40px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
}

.overlaystaterkit_text h2 {
	padding: 0;
	margin: 0;
	color: #0a1c27;
	font-size: 20px;
	font-weight: 500;
	font-family: "Ubuntu", sans-serif;
}

.overlaystaterkit_text p {
	padding: 13px 50px 21px 50px;
	margin: 0;
	color: #6a6a6a;
	font-size: 15px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	line-height: 22px;
}

.crosspopup {
	position: absolute;
	top: 20px;
	right: 20px;
}

.continuebtn {
	--background: #19a7db;
	--border-radius: 50px;
	color: #fff;
	font-size: 21px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	height: 42px;
	width: 185px;
	box-shadow: 0px 0px 9px 0px #e2e2e2;
}
  
.home_content h2 {
	padding: 0 0 20px 0;
	margin: 0;
	color: #0a1c27;
	font-weight: 500;
	font-size: 20px;
	font-family: "Ubuntu", sans-serif;
	text-align: center;
}

.calculators {
	position: relative;
	width: 270px;
	height: 270px;
	margin: 30px auto;
}

.calculators_1 {
	position: absolute;
	top: -8px;
	left: 70px;
	width: 130px;
	height: 130px;
	outline: none;
	img {
		height: 130px;
		width: 144px;
		max-width: none;
	}
}

.calculators_2 {
	position: absolute;
	top: 70px;
	right: -8px;
	width: 130px;
	height: 130px;
	outline: none;
	img {
		height: 130px;
		width: 144px;
		max-width: none;
	}
}

.calculators_3 {
	position: absolute;
	bottom: -8px;
	left: 70px;
	width: 130px;
	height: 130px;
	outline: none;
	img {
		height: 130px;
		width: 144px;
		max-width: none;
	}
}

.calculators_4 {
	position: absolute;
	top: 70px;
	left: -8px;
	width: 130px;
	height: 130px;
	outline: none;
	img {
		height: 130px;
		width: 144px;
		max-width: none;
		margin-left: -8px;
	}
}

.calculators_5 {
	position: absolute;
	top: 90px;
	left: 0;
	right: 0;
	width: 86px;
	height: 89px;
	margin: 0 auto
}

.bluelogo {
	text-align: center;
}

.commercials_panel h4 {
	padding: 0;
	margin: 0;
	color: #000000;
	font-size: 12px;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

.buykit1_para h4 {
	padding: 15px 0 20px 0;
	margin: 0;
	color: #575757;
	font-size: 25px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	text-align: center;
}
.buykit1_para h3 {
	padding: 0 0 28px 0;
	margin: 0;
	color: #575757;
	font-family: "Ubuntu", sans-serif;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}

.commercialsaccount {
	padding: 36px 21px 0 21px;
}

.commercialsaccount span {
	color: #303030;
	font-size: 14px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
}

.commercialsaccount ion-textarea {
	height: 79px;
	border-radius: 20px;
	margin: 10px 0 0 0;
	padding-left: 12px;
	background: linear-gradient(174deg, #dde1e2, #ffffff);
	box-shadow: 3px 3px 6px 0 #115977, -3px -3px 6px 0 #c1e0ec;
}

.capture_area {
	background: #3bb2e4;
	border-radius: 15px;
	padding: 20px 20px;
	margin: 30px 0 0 0;
	box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
}

.capture_area h4 {
	padding: 0 0 9px 0;
	margin: 0;
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	text-align: left;
}

.capture_area ion-input{
	width: 100%;
	height: 38px;
	background: linear-gradient( 174deg, #dde1e2, #ffffff);
	box-shadow: 3px 3px 6px 0 #115977, -3px -3px 6px 0 #c1e0ec;
	padding-left: 10px !important;
	border-radius: 30px;
	color: #213b4b;
	font-size: 12px;
	font-weight: 400;
	font-family: "Poppins", sans-serif;
	--placeholder-color: #213b4b;
}
.capture_area ion-select{
	width: 100%;
	height: 38px;
	background: linear-gradient( 174deg, #dde1e2, #ffffff);
	box-shadow: 3px 3px 6px 0 #115977, -3px -3px 6px 0 #c1e0ec;
	border-radius: 30px;
	color: #213b4b;
	font-size: 12px;
	font-weight: 400;
	font-family: "Poppins", sans-serif;
	--placeholder-color: #213b4b;
}
.capture_area ion-textarea, .commercialsaccount ion-textarea {
	width: 100%;
	background: linear-gradient( 174deg, #dde1e2, #ffffff);
	box-shadow: 3px 3px 6px 0 #115977, -3px -3px 6px 0 #c1e0ec;
	border-radius: 20px;
	color: #213b4b;
	font-size: 12px;
	font-weight: 400;
	font-family: "Poppins", sans-serif;
	--placeholder-color: #213b4b;
}

.capture_area p {
	padding: 0;
	margin: 0;
	color: #ffffff;
	font-size: 11px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	line-height: 16px;
	margin-top: 5px;
}

.capture_areabox {
	padding-bottom: 15px;
}

.capture_areabox span {
	padding: 0 0 10px 55px;
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	text-transform: uppercase;
	display: block;
}

.whiteborder {
	background: #fff;
	width: 100%;
	height: 1px;
	margin-bottom: 15px;
}

.capture_area h3 {
	padding: 0 0 9px 0;
	margin: 0;
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	text-align: center;
	text-transform: uppercase;
}

.capture_areabox ion-item, .capture_areabox ion-select{
	border-radius: 10px;
	height: 40px;
	background: linear-gradient( 174deg, #dde1e2, #ffffff);
	--background: linear-gradient( 174deg, #dde1e2, #ffffff);
	box-shadow: 3px 3px 6px 0 #115977, -3px -3px 6px 0 #c1e0ec;
	--box-shadow: 3px 3px 6px 0 #115977, -3px -3px 6px 0 #c1e0ec;
}

.bidestimatebtn {
	--background: #e9e9e9;
	--border-radius: 50px;
	width: 100%;
	height: 50px;
	font-size: 13px;
	font-weight: 500;
	font-family: "Ubuntu", sans-serif;
	color: #434242;
	--box-shadow: 3px 3px 6px 0 #115977, -3px -3px 6px 0 #c1e0ec;
	letter-spacing: 0;
}

.commercialsaccount ion-input {
	--padding: 0 10px !important;
}

.commercials_panel h2 {
	padding: 15px 0 40px 0;
	margin: 0;
	color: #575757;
	font-size: 17px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	text-align: center;
	text-transform: uppercase;
}

.commercials_panel h1 {
	padding: 15px 0 20px 0;
	margin: 0;
	color: #575757;
	font-size: 25px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	text-align: center;
}

.commercials_panel h6 {
	padding: 0 0 28px 0;
	margin: 0;
	color: #575757;
	font-family: "Ubuntu", sans-serif;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}

.buykit1_para {
	padding: 0 30px;
}

.buykit1_para p {
	padding: 0 0 25px 34px;
	margin: 0;
	color: #575757;
	font-size: 14px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	position: relative;
}

.buykit1_para p:before {
	background: url(../src/assets/images/textbefore_icon.png) no-repeat 0 0;
	width: 19px;
	height: 17px;
	position: absolute;
	top: 0;
	left: 0;
	content: "";
}

.buykit_next {
	//--background: linear-gradient(135deg, #194dd5, #16b4dc);
	border-radius: 50px;
	min-width: 155px;
	height: 45px;
	font-size: 18px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	color: #dff6ff;
	margin: 38px 0;
	letter-spacing: 0;
	//box-shadow: 7px 6px 14px 0 rgba(0, 0, 0, 0.25), -5px -6px 10px 0 rgba(255, 255, 255, 0.3);
	//box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #e7f9ff, -6px -6px 15px 0 #dde1e2 inset;
	text-transform: capitalize;
	--background: #0098ff;
	--box-shadow: 3px 3px 6px 0 #002b35, -3px -3px 6px 0 #aae9fd, -8px -8px 16px 0 #0067a7 inset, 8px 8px 16px 0 #19d6f3 inset;
}

.buykit2 {
	padding-bottom: 0;
}

.buykit2 span {
	padding: 0 0 15px 0;
	text-transform: capitalize;
}

.buykit2 p {
	color: #fff;
	font-weight: 400;
	font-size: 12px;
	font-family: "Ubuntu", sans-serif;
	padding: 3px 0 0 0;
}

.buykit2 p:before {
	display: none;
}

.buykit2_radiopanel h4 {
	font-size: 18px;
	padding-top: 18px;
}

.buykit2_radiopanel ion-textarea {
	background: #fff;
	height: 70px;
	border-radius: 8px;
	padding-left: 10px !important;
}

.buykit2_radiopanel p {
	padding: 15px 0;
	margin: 0;
	color: #ffffff;
	font-size: 17px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	line-height: 24px;
}

.buykit2_radiopanel p:before {
	display: none;
}

.entercouponbuykit2 {
	background: #106b91;
	border-radius: 30px;
	padding: 20px 15px;
	box-shadow: 3px 3px 6px 0 #041e29, -3px -3px 6px 0 #b6eaff;
}

.entercouponbuykit2 h2 {
	padding: 0 0 10px 10px;
	margin: 0;
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	text-transform: capitalize;
	text-align: left;
}

.entercouponbtn {	
	--color: #ffffff;
	font-size: 13px;
	--font-weight: 400;
	--font-family: "Ubuntu", sans-serif;
	height: 38px;
	margin: 0;
	--background: #0098ff;
	--box-shadow: 3px 3px 6px 0 #02080a, -3px -3px 6px 0 #67acc7, -8px -8px 16px 0 #0067a7 inset, 8px 8px 16px 0 #19d6f3 inset;
	text-transform: capitalize;
	--border-radius: 50px;
	border-radius: 50px;
	// width: 79px;
}

.total {
	color: #fff;
	font-size: 23px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	display: block;
	padding: 10px 0 0 0;
}

.total_price {
	color: #fff;
	font-size: 23px;
	font-weight: 700;
	font-family: "Ubuntu", sans-serif;
	display: block;
	padding: 10px 0 0 0;
}

.basicinfo_box span {
	color: #575757;
	font-size: 17px;
	font-weight: 300;
	font-family: "Ubuntu", sans-serif;
}

.basicinfo_box h4 {
	color: #161819;
	font-size: 19px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	padding: 5px 0 22px 0;
	margin: 0;
	text-align: left;
}

.basicinfo_box b {
	color: #3bb2e4;
	text-transform: uppercase;
	font-weight: 400;
}

.total_panel_bottom h2 {
	padding: 0;
	margin: 0;
	color: #3bb2e4;
	font-size: 26px;
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	;
	text-transform: capitalize;
	text-align: left;
}

.total_panel_bottom span {
	padding: 0 0 20px 0;
	margin: 0;
	color: #5d5d5d;
	font-size: 40px;
	font-family: "Ubuntu", sans-serif;
	font-weight: 600;
	text-transform: capitalize;
	display: block;
}

.payment {
	padding: 5px 30px;
}

.tenleads {
	border: #cbcbcb solid 1px;
	border-radius: 50px;
}

.tenleads span {
	display: inline-block;
	padding: 16px 20px !important;
	color: #404040 !important;
	font-weight: 300 !important;
	font-family: "Ubuntu", sans-serif;
}

.tenleads b {
	float: right;
	padding: 12px 46px;
	background: #106b91;
	color: #ffffff;
	font-size: 26px;
	font-weight: 500;
	font-family: "Ubuntu", sans-serif;
	border-radius: 50px;
}

.payment h4 {
	padding: 25px 0 10px 0;
	margin: 0;
	color: #575757;
	font-size: 25px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	text-align: center;
	width: 100%;
}

.payment span {
	padding: 0 0 15px 0;
	margin: 0;
	color: #404040;
	font-size: 18px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	display: inline-block;
}

.payment ion-input {
	border: #b5b5b5 solid 1px;
	border-radius: 5px;
	margin-bottom: 19px;
	padding-left: 10px !important;
}

.payment h5 {
	padding: 40px 0 35px 0;
	margin: 0;
	color: #1a1919;
	font-size: 26px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
}

.payment p {
	padding: 0 0 50px 20px;
	margin: 0;
	color: #8a8a8a;
	font-size: 17px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	line-height: 30px;
	position: relative;
}

.payment>p:before {
	position: absolute;
	top: 8px;
	left: 0;
	background: #3bb2e4;
	width: 13px;
	height: 13px;
	content: "";
	border-radius: 50%;
}

.paynowbutton {
	--background: linear-gradient(135deg, #194dd5, #16b4dc);
	height: 50px;
	--border-radius: 50px;
	border-radius: 50px;
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	width: 90%;
	margin-bottom: 50px;
	box-shadow: 7px 6px 14px 0 rgba(0, 0, 0, 0.25), -5px -6px 10px 0 rgba(255, 255, 255, 0.3);
	text-transform: capitalize;
}

.training_tab {
	padding: 15px 25px;
	float: left;
	width: 100%;
}

.training_tab .video_panel_list:last-child {
	border-bottom: 0;
}

.training_tab ul {
	background: #30c2ff;
	text-align: center;
	box-shadow: 0px 0px 9px 0px #d5d5d5;
	border-radius: 50px;
	margin: 15px 0 30px 0;
	padding: 0;
}

.training_tab ul li {
	display: inline-block;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	width: 33.33%;
	padding: 12px 0;
	outline: none;
}

.training_tab ul li.active {
	background: #106b91;
	border-radius: 50px;
}

.training_tab p {
	padding: 0 0 20px 50px;
	margin: 0 0 25px 0;
	color: #575757;
	font-size: 13px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	width: 100%;
	border-bottom: #d8d8d8 solid 1px;
	position: relative;
}

.training_tab p:last-child {
	border-bottom: 0;
}

.training_tab p:before {
	background: url(../src/assets/images/pdf_icon.png) no-repeat 0 0;
	width: 31px;
	height: 34px;
	position: absolute;
	top: 0;
	left: 0;
	content: "";
}

.video_panel_list {
	background: linear-gradient(174deg, #dde1e2, #ffffff);
	box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
	position: relative;
	margin: 0 0 15px 0;
	border-radius: 20px;
	padding: 10px 8px;
	min-height: 90px;
}

.video_panel_list_l {
	width: 85px;
	height: 65px;
	position: absolute;
	top: 15px;
	left: 15px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
	background: #ffffff;
	text-align: center;
	img{
		object-fit: cover;
		height: 100%;
	}
}

.video_panel_list_r {
	padding: 0 0 0 106px;
}

.video_panel_list_r h3 {
	padding: 0;
	margin: 0;
	color: #575757;
	font-size: 14px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
}

.video_panel_list_r>h6 {
	padding: 10px 0;
	margin: 0;
	color: #575757;
	font-size: 12px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	text-align: left;
}

.video_panel_list_r>span {
	padding: 13px 0;
	margin: 0;
	color: #61737b;
	font-size: 10px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	vertical-align: top;
}

.video_panel_list_r img {
	vertical-align: top;
}

.porcusting_panel_l {
	width: 50%;
	float: left;
}

.porcusting_panel_l span {
	color: #61737b;
	font-size: 11px;
}

.porcusting_panel_mid {
	width: 25%;
	float: left;
	text-align: center;
}

.porcusting_panel_mid span {
	color: #61737b;
	font-size: 11px;
}

.porcusting_panel_r {
	width: 25%;
	float: left;
	text-align: center;
}

.porcusting_panel_r span {
	color: #61737b;
	font-size: 11px;
}

.porcusting_panel_l b {
	color: #3bb2e4;
	font-size: 13px;
	font-weight: 700;
	font-family: "Ubuntu", sans-serif;
	display: inline-block;
	vertical-align: top;
	padding: 12px 16px 0 0;
}

.porcusting_panel_l h3 {
	padding: 5px 0 0 0;
	margin: 0;
	color: #106b91;
	font-size: 15px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	display: inline-block;
}

.porcusting_panel_l i {
	display: block;
	color: #979797;
	font-weight: 400;
	font-size: 10px;
	font-family: "Ubuntu", sans-serif;
	font-style: normal;
	position: 5px 0 0 0;
}

.porcusting_panel_r b {
	color: #3bb2e4;
	font-size: 12px;
	font-weight: 400;
	line-height: 42px;
}

.procusting_bar {
	border: #efefef solid 1px;
	height: 7px;
}

.procusting_bar {
	height: 7px;
	width: 30px;
	margin: 18px auto 0 auto;
}

.procusting_bar_inner {
	height: 6px;
}

.porcusting_panel_box {
	background: linear-gradient(174deg, #dde1e2, #ffffff);
	box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
	padding: 0 0 10px 0;
	border-radius: 15px;
	margin: 15px 0;
	padding: 10px;
}

.play_box {
	background: #096e98;
	padding: 30px;
	padding: 20px 15px;
	margin: 18px 0 30px 0;
	border-radius: 20px;
	box-shadow: 3px 3px 6px 0 #001017, -3px -3px 6px 0 #ffffff;
}

.play_box_l {
	float: left;
}

.play_box_r {
	float: right;
	width: 150px;
	text-align: center;
	line-height: 0;
}

.play_box_l h4 {
	padding: 0;
	margin: 0;
	color: #dff6ff;
	font-size: 17px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
}

.play_box_l h2 {
	padding: 0;
	margin: 0;
	color: #ffffff;
	font-size: 29px;
	font-weight: 700;
	font-family: "Ubuntu", sans-serif;
}

.play_box_r img {
	vertical-align: top;
	display: inline-block;
}

.palyarrow_l {
	margin: 20px 30px 0 0;
}

.palybtn_mid {
	margin: 15px 0 0 0;
}

.palyarrow_r {
	margin: 20px 0 0 30px;
}

.invoice {
	padding: 0 20px;
}

.invoice ul {
	background: #30c2ff;
	text-align: center;
	box-shadow: 0px 0px 9px 0px #d5d5d5;
	border-radius: 50px;
	margin: 30px 0 30px 0;
	padding: 0;
}

.invoice ul li {
	display: inline-block;
	color: #ffffff;
	font-size: 17px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	width: 50%;
	padding: 12px 0;
}

.invoice ul li.active {
	background: #106b91;
	border-radius: 50px;
}

.invoice h2 {
	padding: 0 0 13px 0;
	margin: 0 0 19px 0;
	color: #575757;
	font-size: 22px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	position: relative;
}

.invoice h2:before {
	background: #3bb2e4;
	width: 46px;
	height: 6px;
	position: absolute;
	bottom: 0;
	left: 0;
	content: "";
}

.invoice_box {
	background: #fff;
	border-radius: 20px;
	background: linear-gradient(174deg, #dde1e2, #ffffff);
	box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
	padding: 20px;
	padding-left: 85px;
	position: relative;
	margin: 0 0 14px 0;
	height: 85px;
}

.invoice_box_l {
	width: 65px;
	height: 65px;
	position: absolute;
	top: 10px;
	left: 18px;
	overflow: hidden;
	border-radius: 50%;
	box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
}

.invoice_box_r {
	float: right;
	width: 100%;
	padding-left: 15px;
}

.invoice_box_r h3 {
	padding: 0 0 10px 0;
	margin: 0;
	color: #575757;
	font-size: 16px;
	font-weight: 700;
	font-family: "Ubuntu", sans-serif;
}

.invoice_box_r span {
	padding: 0;
	margin: 0;
	color: #575757;
	font-size: 17px;
	font-weight: 700;
	font-family: "Ubuntu", sans-serif;
	float: right;
}

.invoice_box_r h6 {
	padding: 0;
	margin: 0;
	color: #30c2ff;
	font-size: 14px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
}

.invoice_box_r b {
	padding: 0;
	margin-top: 1px;
	color: #888888;
	font-size: 12px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	float: right;
}

.addnew {
	--background: linear-gradient(135deg, #194dd5, #16b4dc);
	box-shadow: 7px 6px 14px 0 rgba(0, 0, 0, 0.25), -5px -6px 10px 0 rgba(255, 255, 255, 0.3);
	height: 50px;
	--border-radius: 50px;
	border-radius: 50px;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	width: 200px;
	margin: 25px 0;
	text-transform: capitalize;
	letter-spacing: 0;
}

.createinvoice {
	padding: 30px;
}

.createinvoice h2 {
	padding: 0;
	margin: 0;
	color: #666666;
	font-size: 20px;
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
}

.createinvoice h2 span {
	padding: 0;
	margin: 0;
	color: #18a8e2;
	font-size: 22px;
	font-family: "Ubuntu", sans-serif;
	font-weight: bold;
	float: right;
}

.createinvoice h3 {
	padding: 15px 0 0 0;
	margin: 0;
	color: #666666;
	font-size: 16px;
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
}

.createinvoice span {
	padding: 0;
	margin: 0;
	color: #666666;
	font-size: 16px;
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	float: right;
}

.createinvoice h4 {
	padding: 10px 0;
	margin: 0;
	color: #777777;
	font-size: 14px;
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	border-bottom: #c7d7de solid 1px;
}

.itemholder h4:last-child {
	border-bottom: 0;
}

.createinvoice b {
	padding: 0;
	margin: 0;
	color: #555555;
	font-size: 14px;
	font-family: "Ubuntu", sans-serif;
	font-weight: bold;
	float: right;
}

.addcouistomer_panel {
	padding: 20px 0 0 0;
}

.addcouistomer_panel_box {
	background: #fff;
	border: #b1e8ff solid 1px;
	border-radius: 30px;
	color: #46b7e6;
	font-size: 17px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	padding: 12px 20px 14px 20px;
	margin: 0 0 20px 0;
	box-shadow: 0px 0px 5px 0px #95cee4;
	outline: none;
}

.addcouistomer_panel_box img {
	float: right;
	height: 20px;
}

.createinvoice_bottom h5 {
	padding: 20px 0 0 0;
	margin: 0;
	color: #575757;
	font-size: 22px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
}

.createinvoice_bottom span {
	padding: 0;
	margin: 0;
	color: #575757;
	font-size: 22px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	float: right;
}

.addcustomer_panel {
	padding: 15px 40px;
}

.additembox label {
	color: #213b4b;
	font-size: 14px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	margin: 0 0 8px 0;
	display: block;
}

.additembox ion-input {
	height: 44px;
	color: #213b4b;
	font-size: 12px;
	font-weight: 400;
	font-family: "Poppins", sans-serif;
	margin: 0 0 20px 0;
	border-radius: 50px;
	--padding-end: 15px;
	--padding-start: 15px;
	background: linear-gradient(174deg, #dde1e2, #ffffff);
	box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
}

.additembox .quentity{
	height: 44px;
	color: #213b4b;
	font-size: 12px;
	font-weight: 400;
	font-family: "Poppins", sans-serif;
	margin: 0 0 20px 0;
	border-radius: 50px;
	width: 100%;
	background: linear-gradient(174deg, #dde1e2, #ffffff);
	box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
}

.additembox ion-textarea {
	height: 44px;
	color: #213b4b;
	font-size: 12px;
	font-weight: 400;
	font-family: "Poppins", sans-serif;
	box-shadow: 7px 6px 14px 0 rgb(0 0 0 / 25%), -5px -6px 10px 0 rgb(255 255 255 / 30%);
	margin: 0 0 20px 0;
	border-radius: 20px;
	--padding-end: 15px;
	--padding-start: 15px;
}

.additemmain_box {
	padding: 33px 50px 0 50px;
}

.help_panel {
	padding: 23px 20px 30px 20px;
}

.halpbox {
	background: linear-gradient(174deg, #dde1e2, #ffffff);
	box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
	border-radius: 20px;
	margin: 15px 0;
	padding: 8px 0;
	ion-item{
		--background: none;
	}
}

.halpbox h3 {
	padding: 0;
	margin: 0;
	color: #757575;
	font-size: 13px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	position: relative;
}

.q {
	background: #55bce8;
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	margin-right: 18px;
}

.a {
	background: #6ec285;
}

.halpbox_content {
	border-top: #c9c9c9 solid 1px;
	margin: 8px 0 0 0;
	padding: 7px 0 0 0;	
}

.halpbox_content p {
	padding: 5px 0;
	margin: 0;
	color: #757575;
	font-size: 13px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	position: relative;
}

.halpbox_content ion-item{
	color: #757575;
	font-size: 13px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
}

.settings_panel ion-list{
	padding-top: 0;
	padding-bottom: 0;
	background: none;
}
.settings_panel ion-item {
	--background: linear-gradient(174deg, #dde1e2, #ffffff);
	box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
	border-radius: 20px;
	margin: 15px;	
}

.settings_panel ion-item ion-label {
	--color: #6e6e6e !important;
	font-size: 15px !important;
	font-weight: 500 !important;
	font-family: "Ubuntu", sans-serif !important;
	padding: 1px 0 0 5px;
}

.settings_panel ion-item ion-label img {
	float: right;
}

.settings_panel ion-item:last-child {
	--border-color: #fff !important;
}

.profile_img_box {
	width: 131px;
	height: 131px;
	border-radius: 50%;	
	margin: 0 auto;
	padding: 10px;
	position: relative;
	background: linear-gradient(135deg, #dde1e2, #ffffff);
	box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
}

.profile_img_box img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}

.profile_section {
	padding: 0 20px;
}

.profile_section span {
	display: block;
	color: #343232;
	font-size: 22px;
	font-weight: 500;
	font-family: "Ubuntu", sans-serif;
	text-align: center;
	margin: 25px 0;
}
.profile_section .p_box {
	text-align: left;
	border-radius: 20px;
	width: 100%;
	margin: 15px 0;
	position: relative;
	overflow: hidden;
	outline: none;	
	padding: 15px 20px;
	background: linear-gradient(174deg, #dde1e2, #ffffff);
	box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
}

.profile_camera {
	background: #50bae7;
	border: #ffffff solid 3px;
	border-radius: 50%;
	box-shadow: 3px 3px 6px 0 #002b35, -3px -3px 6px 0 #aae9fd, -8px -8px 16px 0 #0067a7 inset, 8px 8px 16px 0 #19d6f3 inset;
	width: 38px;
	height: 38px;
	position: absolute;
	top: 60px;
	right: -16px;
	text-align: center;
	padding: 7px 0 0 0;
	line-height: 19px;
}

.profile_camera img {
	width: 15px;
	height: 12px;
	border-radius: 0;
}

.profile_section h4 {
	padding: 0 0 6px 0;
	margin: 0;
	color: #666767;
	font-size: 13px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
}

.profile_section p {
	padding: 0;
	margin: 0;
	color: #000000;
	font-size: 15px;
	font-weight: 500;
	font-family: "Ubuntu", sans-serif;
}

.profile_phone {
	width: 50%;
	float: left;
	border-right: #ccc solid 1px;
}

.profile_phone p {
	padding-bottom: 0;
}

.profile_email {
	width: 50%;
	float: right;
	padding: 0 0 0 47px;
}

.profile_email p {
	padding-bottom: 0;
}

.supplies_box {
	padding: 30px 15px;
	text-align: center;
}

.supplies_box h3 {
	padding: 0;
	margin: 0;
	color: #575757 !important;
	font-size: 20px;
	font-family: "Ubuntu", sans-serif;
}

.supplies_box_panel {
	display: inline-block;
	vertical-align: top;
	width: 44%;
	margin: 3%;
	text-align: center;
}

.supplies_box_panel_imgbox {
	border-radius: 15px;
	width: 100%;
	position: relative;
	height: 160px;
	overflow: hidden;
	background: linear-gradient(174deg, #dde1e2, #ffffff);
	box-shadow: 3px 3px 6px 0 #747879, -3px -3px 6px 0 #ffffff;
	padding: 5px;
	img{
		height: 100%;
		width: 100%;
		object-fit: cover;
		border-radius: 10px;
	}
}

.supplies_box_panel h5 {
	color: #575757;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	padding: 10px 0 7px 0;
	margin: 0;
	min-height: 50px;
}

.supplies_box_panel ion-button {
	--background: #0098ff;
	--box-shadow: 3px 3px 6px 0 #002b35, -3px -3px 6px 0 #aae9fd, -8px -8px 16px 0 #0067a7 inset, 8px 8px 16px 0 #19d6f3 inset;
	height: 26px;
	--border-radius: 50px;
	border-radius: 50px;
	color: #fff;
	font-size: 10px;
	font-weight: 500;
	font-family: "Ubuntu", sans-serif;
	width: 95px;
}

.supplies_box_panel:nth-child(2n+1) {
	margin-right: 0;
}

.paymentpay_btn {
	border-radius: 50px;
	max-width: 200px;
	width: 100%;
	height: 50px;
	font-size: 18px;
	font-weight: 600;
	font-family: "Ubuntu", sans-serif;
	color: #dff6ff;
	margin: 10px 0 30px 0;
	letter-spacing: 0;
	text-transform: uppercase;
	--background: #0098ff;
	--box-shadow: 3px 3px 6px 0 #002b35, -3px -3px 6px 0 #aae9fd, -8px -8px 16px 0 #0067a7 inset, 8px 8px 16px 0 #19d6f3 inset;
}

.break {
	flex-basis: 100%;
	height: 0;
}

.thankyoupanel {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	flex-direction: column;
	text-align: center;
}

.thankyoupanel h5 {
	padding: 25px 0 0 0;
	margin: 0;
	color: #404040;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
}

.cart_panel {
	padding: 0 30px;
}

.cart_panel h2 {
	padding: 35px 0 30px 0;
	margin: 0;
	color: #111111;
	font-size: 20px;
	font-weight: 500;
	font-family: "Ubuntu", sans-serif;
	text-align: center;
}

.cartbox_product {
	width: 279px;
	margin: 0 auto;
}

.cartbox_product_img {
	border-radius: 20px;
	text-align: center;
	background: linear-gradient( 174deg , #dde1e2, #ffffff);
	box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
	overflow: hidden;
	padding: 10px;
	height: 280px;
	img{
		border-radius: 20px;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

.cartbox_product span {
	display: block;
	color: #575757;
	font-weight: 400;
	font-size: 19px;
	font-family: "Ubuntu", sans-serif;
	text-align: center;
	margin: 20px 0;
}

.cartbox_product span b {
	color: #38b1e4;
	font-weight: bold;
	font-family: "Ubuntu", sans-serif;
	display: inline-block;
	padding-left: 5px;
}

.cartbox_product ion-select {
	width: 150px;
	height: 40px;
	border: #b1b1b1 solid 1px;
	border-radius: 50px;
	color: #575757;
	font-weight: 400;
	font-size: 19px;
	font-family: "Ubuntu", sans-serif;
	margin: 19px auto 27px auto;
}

.cartcheckout_btn {
	--background: #0098ff;
	--box-shadow: 3px 3px 6px 0 #002b35, -3px -3px 6px 0 #aae9fd, -8px -8px 16px 0 #0067a7 inset, 8px 8px 16px 0 #19d6f3 inset;
	--border-radius: 50px;
	border-radius: 50px;
	width: 210px;
	height: 45px;
	font-size: 18px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	color: #dff6ff;
	margin: 15px 0 5px 0;
	text-transform: capitalize;
	letter-spacing: 0;
}

.supplidetailsimg {
	margin: 15px 10px;
}

.supplydetails h4 {
	padding: 0;
	margin: 20px 0 20px 0;
	color: #575757;
	font-size: 19px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	text-align: center;
	position: relative;
}

.supplydetails h4:before {
	width: 100px;
	height: 1px;
	background: #bbbbbb;
	position: absolute;
	top: 13px;
	left: 20px;
	content: "";
}

.supplydetails h4:after {
	width: 100px;
	height: 1px;
	background: #bbbbbb;
	position: absolute;
	top: 13px;
	right: 20px;
	content: "";
}

.pricepaneldetaisl {
	text-align: center;
}

.pricepaneldetaisl span {
	color: #38b1e4;
	font-size: 17px;
	font-weight: 500;
	font-family: "Ubuntu", sans-serif;
	display: inline-block;
	margin: 0 15px;
}

.pricepaneldetaisl b {
	color: #575757;
	font-size: 17px;
	font-weight: 500;
	font-family: "Ubuntu", sans-serif;
	display: inline-block;
	margin: 0 15px;
}

.supplydetails h3 {
	padding: 20px 0 17px 0;
	margin: 0;
	color: #575757;
	font-size: 17px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	text-transform: uppercase;
}

.supplydetails p {
	padding: 0 0 20px 0;
	margin: 0;
	color: #575757;
	font-size: 13px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	position: relative;
}

.parano {
	position: absolute;
	top: 0;
	left: 0;
	background: #50bae7;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	text-align: center;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	padding: 5px 0 0 0;
}

.supplydetails ul {
	padding: 0 0 0 0;
	margin: 0;
	list-style: none;
}

.supplydetails ul li {
	color: #575757;
	font-weight: 400;
	font-size: 13px;
	font-family: "Ubuntu", sans-serif;
	position: relative;
	padding: 0 0 12px 25px
}

.supplydetails ul li:before {
	position: absolute;
	top: 3px;
	left: 0;
	background: #50bae7;
	width: 12px;
	height: 12px;
	content: "";
	border-radius: 50%;
}

.supplydetails ion-select {
	width: 290px;
	height: 40px;
	border: #b1b1b1 solid 1px;
	border-radius: 50px;
	color: #575757;
	font-weight: 400;
	font-size: 13px;
	font-family: "Ubuntu", sans-serif;
	margin: 19px auto 26px auto;
}

.supplidetailsslider {
	border-radius: 20px;
	text-align: center;
	padding: 26px 0;
	width: 252px;
	margin: 50px auto 75px auto;
	background: #ffffff;
	box-shadow: 3px 3px 6px 0 #a0acb1, -3px -3px 6px 0 #d8effb;
}

.swiper-pagination-bullet {
	border: #383838 solid 2px;
	width: 15px;
	height: 15px;
	background: #fff;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
	border: #50bae7 solid 2px;
	width: 15px;
	height: 15px;
	background: #50bae7;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
	bottom: 30px;
}